::placeholder {
    color: rgb(74, 142, 150);
}

.search-bar {
    float: left;
    color: rgb(34, 69, 114);
}

img {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

img:hover {
    border: 2px solid white;
}

.gif-btn {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: 2px solid white; 
}

#buttonArea.button-drop {
    max-width: 600px;
}

#imageArea.image-drop {
    max-width: 1400px;
}

.container {
    max-width: 1400px;
}

button.gif-btn{
    margin-left: 0px; 
}

.gif-btn:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.image-drop {
    margin: 0 auto;
}

.input-with-icon input[type=text] {
    padding-left: 40px;
}

.font1 {
    clear: both;
    font-family: 'Shadows Into Light Two', cursive;
    overflow: auto;
}

input[type=text] {
    width: 300px;
    font-size: 16px;
    border: 2px solid rgb(177, 177, 177);
    background-color: white;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    margin-left: 35px;
    margin-top: 12px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-color: rgb(128, 194, 202);
    box-shadow: 0 0 8px 0 rgb(128, 194, 202);
}


.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    left: 37px;
    top: 17px;
    padding: 9px;
    color: rgb(34, 69, 114);
}



















